.expense-wrapper {
  display: grid;
  margin-bottom: 2rem;
  grid-template-columns: 3fr 1fr;
  border-bottom: 1px solid #BCB7C1;
  cursor: pointer;

  > .title-date {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  > .amount {
    font-weight: 700;
  }
}